@tailwind base;
@tailwind components;
@tailwind utilities;

.noriLanding {
    position: absolute;
    left: 0;
    bottom: -140px;
}

button:hover {
    transform: translateY(-1px);
    color: rgb(0, 0, 0, 10);
}