@tailwind base;
@tailwind components;
@tailwind utilities;

/* .main-nori-img {
    animation: nori-animate 5s .5s;
} */

@keyframes nori-animate {
    0% {
        opacity: 1;
    }

    50% {
        /* transform: rotate(1turn); */
    }

    100% {
        opacity: 0;
        transform: rotate(1turn);
    }
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}